@import "tailwindcss";

@theme inline {
  --font-sans: InterVariable, sans-serif;
  --color-color1: var(--wb-theme-color1);
  --color-color2: var(--wb-theme-color2);
}

body {
  margin: 0;
  padding: 0;
}
